.calculadora{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 15rem;
    height: 16rem;
    background-color: black;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.resultado input{
    width: 100%;
    background-color: transparent;
    border: transparent;
    color: white;
    text-align: right;
}

.botones{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .5rem;
}

.botones .span-2{
    grid-column: span 2;
}

.botones button{
    border-radius: 2rem;
    border-color: transparent;
}

.operandos{
    background-color: orange;
}